{
  "parser": "babel-eslint",
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true,
    "browser": true,
    "jest/globals": true
  },
  "plugins": ["jest"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "airbnb"
  ],
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "max-classes-per-file": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-console": "error",
    "semi": "off",
    "react/prop-types": "off",
    "arrow-parens": ["error", "as-needed"],
    "react/jsx-props-no-spreading": ["error", {
      "exceptions": ["Component", "Recover", "Loading"]
    }],
    "camelcase": "off"
  }
}
